.list-card-container {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: $standard-padding * 1.5 20px $standard-padding * 1.5 $standard-padding * 3;
  margin-top: $standard-margin * 3;
  .list-card-title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
  }
  .list-card-items {
    .list-card-item {
      &:first-child {
        margin-top: 0 !important;
      }
      display: flex;
      justify-content: space-between;
      margin-top: $standard-margin * 3;
      line-height: 150%;
      .item-name {
        color: rgba(0, 0, 0, 0.6);
      }
      .item-value {
        cursor: pointer;
        display: flex; 
        align-items: center;
        img {
          padding-left: $standard-padding * 2;
        }
      }
    }
  }
}